{
  "extends": ["airbnb", "airbnb/hooks", "eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "printWidth": 80,
        "trailingComma": "es5",
        "semi": true,
        "doubleQuote": true,
        "jsxSingleQuote": true,
        "singleQuote": false,
        "useTabs": false,
        "tabWidth": 2
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": ["prettier", "react", "react-hooks"]
}
